.register-form{
    background-color: #fff;
    border: 1px solid #eee;
}
.error-block{
    position: absolute;
    top: 10px;
    right: 10px;
}
.success{
    color: #00A000;
}
.danger{
    color: #E82323;
}
.warning{
    color: #FF7F00;
}
.info{
    color: #348DEF;
}